body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    color: lavender;
    text-align: center;
    /*margin-bottom: 20px;*/
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 80vh;*/
    box-sizing: border-box;
}

.box {
    width: 520px;
    /*padding: 15px;*/
    border-radius: 5px;
    /*background-color: #333;*/
    display: flex;
    flex-direction: column;
    text-align: left;
}
.field {
    width: 100%;
    margin-bottom: 15px;
}

.field .MuiFilledInput-root {
    background-color: lavender;
    color: black;
}

.field .MuiInputLabel-root {
    color: black;
}

.field .MuiFilledInput-underline:before {
    border-bottom: 2px solid black;
}

.field .MuiFilledInput-underline:hover:before {
    border-bottom: 2px solid black;
}

.field .MuiFilledInput-root:hover {
    background-color: grey !important;
}

.field .MuiFilledInput-root.Mui-focused {
    background-color: grey !important;
}